<div class="tournament container-fluid">
    <div class="row">
        <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-12 offset-0">
            <h1 id="tournament" class="text-white text-center bigNoodleTitling mb-5">El torneo</h1>
            <div class="container-fluid">
                <div class="row mb-4">
                    <div class="col-xl-7 col-lg-6 col-12 mb-lg-0 mb-5">
                        <h5 class="text-white">
                            ¡En una ubicación de ensueño, <strong>Pachanga Tournament</strong> nos trae tres días repletos de <strong>Magic: The Gathering</strong> en un hotel a pie de playa!
                        </h5>
                        <h5 class="text-white mb-4">
                           Disfruta de multitud de eventos, incluyendo los tres torneos principales:
                        </h5>
                        <div class="gradient-arrow-right bg-purple px-5 py-3 mb-3">
                            <h3 class="text-white bigNoodleTitling">Viernes 6 de Octubre</h3>
                            <h5 class="text-white">FNM de Pioner</h5>
                        </div>
                        <div class="gradient-arrow-left bg-white px-5 py-3 mb-3">
                            <h3 class="text-purple bigNoodleTitling text-end">Sábado 7 de Octubre</h3>
                            <h5 class="text-purple text-end">Torneo de Modern</h5>
                        </div>
                        <div class="gradient-arrow-right bg-purple px-5 py-3 mb-3">
                            <h3 class="text-white bigNoodleTitling">Domingo 8 de Octubre</h3>
                            <h5 class="text-white">Torneo de Sellado</h5>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-12">
                        <img class="w-100" alt="{{tournamentImg.alt}}" src="{{tournamentImg.src}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>