<div class="container-fluid navigation sticky-top">
    <div class="row">
        <div class="col-xl-10 offset-xl-1 col-12 offset-0">
            <nav class="navbar navbar-expand-lg py-0">
                <a class="navbar-brand p-0" href="/">
                    <img class="logo" alt="{{logo.alt}}" src="{{logo.src}}">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Habilitar navegación">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item py-lg-5 py-2 px-1">
                            <a href="#tournament" class="nav-link"><h4 class="font-weight-bold text-center bigNoodleTitling mb-0">El torneo</h4></a>
                        </li>
                        <li class="nav-item py-lg-5 py-2 px-1">
                            <a href="#location" class="nav-link"><h4 class="font-weight-bold text-center bigNoodleTitling mb-0">Ubicación</h4></a>
                        </li>
                        <li class="nav-item py-lg-5 py-2 px-1">
                            <a href="#guests" class="nav-link"><h4 class="font-weight-bold text-center bigNoodleTitling mb-0">Invitados</h4></a>
                        </li>
                        <li class="nav-item py-lg-5 py-2 px-1">
                            <a href="#tickets" class="nav-link"><h4 class="font-weight-bold text-center bigNoodleTitling mb-0">Entradas</h4></a>
                        </li>
                        <li class="nav-item py-lg-5 py-2 px-1">
                            <a href="#gallery" class="nav-link"><h4 class="font-weight-bold text-center bigNoodleTitling mb-0">Galería</h4></a>
                        </li>
                        <li class="nav-item py-lg-5 py-2 px-1">
                            <a href="#contact" class="nav-link"><h4 class="font-weight-bold text-center bigNoodleTitling mb-0">Contacto</h4></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>